.about {
    width: 40%;
    min-width: 600px;
    margin: 100px 0 100px 200px;

    & h3 {
        font-size: 40px;
        font-weight: 300;

        &.about__cta {
            border-bottom: 1px solid #000;
            display: inline-block;
            padding-bottom: 8px;
            margin-top: 0;
        }
    }

    & .about__contact {
        margin-top: 100px;

        & p {
            margin: 0;
            font-size: 20px;
        }
    }
}